absl-py==0.7.1
alabaster==0.7.12
appdirs==1.4.4
argh==0.26.2
asn1crypto==1.3.0
astor==0.7.1
atomicwrites==1.3.0
attrs==19.3.0
Babel==2.8.0
backcall==0.1.0
bleach==3.1.4
certifi==2020.6.20
cffi==1.12.3
chardet==3.0.4
Click==7.0
cloudpickle==1.3.0
colorama==0.4.3
coverage==4.5.4
cryptography==2.8
cycler==0.10.0
dask==2.14.0
decorator==4.4.2
defusedxml==0.6.0
docutils==0.16
entrypoints==0.3
future==0.17.1
gast==0.2.2
google-pasta==0.1.6
grpcio==1.16.1
h5py==2.8.0
hypothesis==3.59.1
idna==2.8
imageio==2.8.0
imagesize==1.2.0
importlib-metadata==1.5.0
ipykernel==5.1.4
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.16.0
Jinja2==2.11.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.2
jupyter-console==6.1.0
jupyter-core==4.6.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
livereload==2.6.1
llvmlite==0.29.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.3
mistune==0.8.4
mock==2.0.0
more-itertools==8.2.0
nbconvert==5.6.1
nbformat==5.0.4
nbstripout==0.3.7
networkx==2.2
notebook==6.0.3
numba==0.45.1
numpy==1.16.6
olefile==0.46
onnx==1.5.0
packaging==20.3
pandas==1.0.3
pandocfilters==1.4.2
parso==0.6.2
pathtools==0.1.2
pbr==5.4.4
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.0.0
pluggy==0.13.1
port-for==0.3.1
prometheus-client==0.7.1
prompt-toolkit==3.0.4
protobuf==3.8.0
ptyprocess==0.6.0
py==1.8.1
pycparser==2.20
Pygments==2.6.1
pyOpenSSL==19.1.0
pyparsing==2.4.6
pyrsistent==0.16.0
PySocks==1.7.1
pytest==4.4.2
python-dateutil==2.8.1
pytz==2019.3
PyWavelets==1.1.1
PyYAML==5.1.2
pyzmq==18.1.1
qtconsole==4.7.3
QtPy==1.9.0
ranger @ git+https://github.com/lessw2020/Ranger-Deep-Learning-Optimizer.git@8d636a560b71e740e9423aa10ba4c7f751bb9120#egg=ranger
requests==2.22.0
scikit-image==0.15.0
scipy==1.3.1
seaborn==0.10.0
Send2Trash==1.5.0
Shapely==1.7.1
six==1.12.0
snowballstemmer==2.0.0
Sphinx==3.0.3
sphinx-autobuild==0.7.1
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
tabulate==0.8.2
tensorboard==1.15.0
tensorflow==1.15.2
tensorflow-estimator==1.15.1
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
toolz==0.10.0
torch==1.2.0
torch_lr_finder @ git+https://github.com/davidtvs/pytorch-lr-finder.git@1d1e3e7170db3d784ac7e268a63fa8a077880b50#egg=torch_lr_finder
torchtext==0.4.0
torchvision==0.4.0
tornado==6.0.4
tqdm==4.32.1
traitlets==4.3.3
typing==3.6.4
urllib3==1.25.8
watchdog==0.10.2
wcwidth==0.1.9
webencodings==0.5.1
Werkzeug==0.15.4
widgetsnbextension==3.5.1
wrapt==1.11.2
zipp==2.2.0
